<header>
    <nav class="nav">
      <h1 class="big-head">Gooey Tuts</h1>
    </nav>
    <div class="row head-menu">
      <a href="/" ng-class="{active: $state.current.data.navSelect == 'home'}">Home</a>
      <a href="/archive" ng-class="{active: $state.current.data.navSelect == 'archive'}">Archive</a>
    </div>
</header>
