<div class="container-fluid content-wrapper">
   <div class="col-md-8">
    <div ng-repeat="article in articles" class="article-wrapper">
      <h3 class="blog-head">{{ article.title }}</h3>
      <div class="article-wrap">
        <span class="article-tags">by <span>Stephen</span> on {{ article.created_at }}  <span class="tag" ng-show="{{article.tags}}" ng-repeat="tag in article.tags"> <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> {{tag}} </span> </span>
        <p class="article-descrip" markdown-to-html="article.body">
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <h3 class="side-head">About</h3>
    <p class="side-descrip">I am a JavaScript Engineer from Denver, CO</p>
  </div>
</div>
