<h3>Your Dashboard</h3>
<form id="addArticle" ng-submit="addArticle()">
  <div class="well">
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="Add title..." ng-model="article.title " />
    </div>
    <div class="form-group">
      <textarea class="form-control" name="name" rows="8" cols="40" placeholder="Add markup..." ng-model="article.body"></textarea>
    </div>
    <input type="submit" class="btn btn-success" name="submit" value="Add Article" />
  </div>
</form>
