<h3>Your Dashboard</h3>
<div ng-show="successMsg" class="alert alert-success" role="alert"><strong>Success!</strong> Article was successfully updated.</div>
<div ng-show="failureMsg" class="alert alert-danger" role="alert"><strong>Error!</strong> Article could not be update.</div>
<form id="addArticle" ng-submit="editArticle(article.id)">
  <div class="well">
    <div class="form-group">
      <input type="text" class="form-control" name="title" placeholder="Add title..." ng-model="article.title" />
    </div>
    <div class="form-group">
      <textarea class="form-control" name="name" rows="8" cols="40" placeholder="Add markup..." ng-model="article.body"></textarea>
    </div>
    <div class="form-group">
      <ui-select multiple ng-model="article.selected">
        <ui-select-match placeholder="Select tags...">
            <span ng-bind="$item.tag"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
            <span ng-bind="item.tag"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <input type="submit" class="btn btn-success" name="submit" value="Add Article" />
  </div>
</form>
