<div class="container">
  <div class="container-fluid login-wrap">
    <h3 class="side-head">LOGIN</h3>

    <div class="form-wrap">
      <form id="loginForm" ng-submit="logIn()">
        <div class="form-group">
          <input type="text" class="form-control login-control" name="username" placeholder="Enter username" ng-model="user.username" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control login-control" name="password" placeholder="Enter password" ng-model="user.password" />
        </div>
        <input type="submit" class="btn btn-success btn-block" name="submit" value="Login" />
      </form>
    </div>
  </div>
</div>
